<h1><%= @student.to_s %></h1>
<% if @student.active == true %>
  <p>This student is currently active.</p>
<% elsif @student.active == false %>
  <p>This student is currently inactive.</p>
<% end %>

<form action="<%= activate_student_path %>" method="get">
  <label for="change active"></label>
  <input type="submit" name="change active" value="Change status to (in)active">
</form>
