<h1><%= @student.to_s %></h1>
<% if @student.active %>
  <p>This student is currently active.</p>
<% else %>
  <p>This student is currently inactive.</p>
<% end %>

<!-- <form action="/students/activate_student" method="post">
  <input type="submit" value="Activate">
</form> -->
